*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
}

::-webkit-scrollbar{
    display: none;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limit__btn{
    display: inline-block;
}

.limit__btns{
    margin: 10px 0 20px;
}

.limit__btns button{
    padding: 8px 10px;
    cursor: pointer;
    background-color: rgb(118, 238, 222);
    color: black;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}

.country-list{
    width: 60vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 50px 0 0;
}

.pagi__block{
    min-width: 200px;
    display: flex;
    position: fixed;
    bottom: 200px;
    right: 100px;

    .pagi__btn{
        padding: 8px 12px;
        cursor: pointer;
        background-color: rgb(151, 0, 175);
        color: white;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
    }

    .active{
        background-color: red;
    }
}
